<div class="sidenav" @slideDown>
  <div class="store-sign">
    <img src="../assets/images/logo.png" alt="" />
  </div>

  <div class="store-departments">
    <div routerLink="armor" class="department-sign department-sign--armor">
      <img src="../assets/images/header-wood.png" alt="" />
    </div>
    <div routerLink="utils" class="department-sign department-sign--utils">
      <img src="../assets/images/header-wood.png" alt="" />
    </div>
    <div routerLink="tools" class="department-sign department-sign--tools">
      <img src="../assets/images/header-wood.png" alt="" />
    </div>
    <div routerLink="weapons" class="department-sign department-sign--weapons">
      <img src="../assets/images/header-wood.png" alt="" />
    </div>
    <div routerLink="magic" class="department-sign department-sign--magic">
      <img src="../assets/images/header-wood.png" alt="" />
    </div>
  </div>
</div>
